@tailwind base;
@tailwind components;
@tailwind utilities;

.carouselimage {
  width: 100%;
  height: 700px;
  object-fit: "fill";
}

@media screen and (max-width: 768px) {
  .carouselimage {
    height: 400px;
  }
}
